<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link href="http://fonts.cdnfonts.com/css/billabong" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <div class="header">
            <a href="/" id="instagram">Cavstagwam</a>
            <ul class="navigation">
                <li><a href="/"><ion-icon name="home-outline"></ion-icon></a></li>
                <li><a href="/explore"><ion-icon name="compass-outline"></ion-icon></a></li>
                <li><a href="/posts/create"><ion-icon name="create-outline"></ion-icon></a></li>
                <li><a href="/profile"><ion-icon name="person-circle-outline"></ion-icon></a>
                </li>


            </ul>
        </div>

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

    </body>
</html>
