<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form class="" action="/posts/create/" method="POST">

            <input type="text"
            placeholder="write a caption..." name="description" value="">

            <input type="text"
            placeholder="write a username..." name="username" value="">

            <input type="text"
            placeholder="add image" name="image" value="">

            <input type="text"
            placeholder="likes" name="likes" value="">

            <input type="submit" name="submit" value="create">
        </form>
    </body>
</html>
