<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1><%=username%>'s followers</h1> %>


            <% for (let follower of followersList) { %>
                <a href="/posts/<%=follower%>"><%=follower%></a>
            <% } %>


    </body>
</html>
