<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <a href="/posts">Home</a>
        <% for (let post of allPosts) { %>
            <img src="<%=post.image%>" alt="<%=post.image%>">
            <br>
            <%=post.description%>
        <% } %>
    </body>
</html>
