@import url('https://fonts.cdnfonts.com/css/billabong');

.header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 4vh;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: .5vh;
    border-bottom: 1px rgba(219,219,219,1) solid;
    height: 8vh;
    background-color: rgba(255,255,255,1);
    z-index: 999;
}


ul {
    list-style-type: none;
}

.navigation {
    display: flex;
    justify-content: space-around;
    padding-top: .5vh;

}

#cavstagwam {
    font-family: 'Billabong', sans-serif;
    color: black;
    padding: .5rem;
}

#instagram, .navgation>li {
    margin: 1vw;

}

a {
    list-style-type: none;
    text-decoration: none;
}
ion-icon {
    color: black;
    margin: 0 1vw 0 0;
}

body {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.postBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    border: 1px solid rgba(219,219,219,1);
    width: 40%;
    margin-top: 5vh;
}

.postHead {
    padding: .5em;
}

#username, #likes, #likes-list-username {
    margin-left: 1vw;
    color: black;
    font-weight: 600;
}
#likes {
    display: flex;
    width: 100%;
    margin-right: 10vw;
}
#username:hover,#likes:hover, #likes-list-username:hover {
    text-decoration: underline;
}

.postDescription {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.commentBox {
    width: 100%;
}

#postImage {
    width: 100%;
    max-height: 50%;
}

.createAccountBox, .loginAccountBox, .create-post-box>form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px rgba(219,219,219,1) solid;
    margin: auto;
    text-align: center;
    width: 30%;
    padding: 1em;
}



.have-account, .dont-have-account {
    display: flex;
    justify-content: center;
    margin: auto;
    border: 1px
    rgba(219,219,219,1) solid;
    width: 100%;
    padding: 0;
}

.mainbox {
    padding: 2em;
    margin-bottom: 5vh;
}

.signup-form>input,.login-form>input, .create-post-box{
    margin-top: 2vh;
}

.have-account, .dont-have-account {
    margin-top: 5vh;
    width: 30%;
    padding: 1em;
}
.login-form>input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 2vh;
}

button {
    text-decoration: none;
    border: none;
    background-color: white;
}

.greeting, .profile-username{
    padding-top: 1em;
    margin-top: 1em;
    margin: auto;

}

.commentBox, .editBox {
    line-height: 2em;
}

.commentBox::placeholder {
    padding: 1em;
}

.create-post-form>input, .edit-post-form>input {
    margin: .5em;
}

input {
    padding: .5em;
}

.post-image {
    width: 100%;
}



.user-profile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 75%;

}

.profile-username {
    margin: auto;
    text-align: center;
}


.username-info-box, .username-info-box>a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    color: black;
    text-decoration-style: none;
}

.username-info-box>li{
    margin: 1em;
}
.username-info-box>li>a {
    text-decoration: none;
    text-decoration-style: none;
    color: black;
}

.user-post-box {
    width: 30%;
    margin: 1em;
    height: fit-content;
}

.user-post-box>img {
    width: 100%;
}

.all-posts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.top-profile {
    margin: auto;
}

.dropdown-item {
    font-size: 3vh;
}

#logout {
    border-top: 1px
    rgba(219,219,219,1) solid;
}

.like-button, .unlike-button {
    font-size: 2vw;
    margin-left: 1vw;
    padding: .5vh;
}

.like-button:hover {
    color:red;
}

.like-form {
    display: flex;
    justify-content: center;
}

#action-buttons {
    margin-top: 1em;
}

.editBox {
    width: 100%;
}

.editButtons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    padding: 1em;
}

.editButtons>form>input {
    width: 100%;
}

.editButtons>form {
    margin: auto;
}

.list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.commentBox {
    border: none;
    border-top: 1px
    rgba(219,219,219,1) solid;
}

.list-of-people-who-liked {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}

#modal-body {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.modal-dialog {
    pointer-events: all;
}

.usernameAndButton {
    display: flex;
    align-items: baseline;
    JUSTIFY-CONTENT: space-between;
}

.modal-content {
    width: 75%;
}

.modal-content, #likes-list-username {
    margin-right: 10vw;
    margin-bottom: 1em;
}

#search-users-bar {
    height: 2vh;
    font-size: 2.5vh;
    border: 1px
    rgba(219,219,219,1) solid;
    border-radius: 1vw; ;
    margin: auto;
    line-height: 1vh;
    padding: 2vh;
}

#search-users-bar, input.commentBox {
    outline: none;
}

.picture-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 .notification-drop-down {
    width: 30vw;
    padding: 1vw;
    overflow: scroll;
    height: 50vh;
}

.thumbnailPic {
    width: 5vw;
}

.notification-entry {
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


#notification_date {
    font-size: small;
}

.notification-username {
    color: black;
    font-weight: bold;
}

.notification-username:hover {
    text-decoration: underline;
    color: black;
}

.post-likes-comments {
    width: 100%;
    position: relative;
    text-align: center;
    background-color: black;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    bottom: 0;
    display: none;

}
#post-heart-icon, #post-chat-icon {
    color: white;
    font-size: 2vw;
}

.post-image {
    width: 100%;
}

#post-likes, #comment-number {
    color: white;
    margin-right: 1vw;

}

.post-likes-comments>p {
    display: inline;
}

.post-likes, .post-comments {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @media screen and (max-width: 1024px) {
    .header {
        display: none;
    }
    .header-
} */
